In [3]:
!pip install holidays

Collecting holidays
  Downloading holidays-0.74-py3-none-any.whl.metadata (39 kB)
Requirement already satisfied: python-dateutil in /opt/anaconda3/lib/python3.12/site-packages (from holidays) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil->holidays) (1.16.0)
Downloading holidays-0.74-py3-none-any.whl (990 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 991.0/991.0 kB 9.2 MB/s eta 0:00:00
Installing collected packages: holidays
Successfully installed holidays-0.74

In [5]:
import pandas as pd
import holidays
import os

# set the working directory
os.chdir("/Users/talhaahmed/Desktop/Thesis/Thesis Data")

# Load your R-exported metadata file
movie_metadata = pd.read_csv("super_final_metadata.csv")
movie_metadata['release_date'] = pd.to_datetime(movie_metadata['release_date'])

In [7]:
movie_metadata.head()

,Unnamed: 0,release_date,title,rating,distributor_name,us_distributor,opening_locs,widest_locs,opening_wknd_local_currency,opening_week_local_currency,...,booking_title_number,bafta_awards,title_global_id,star_power_count,director_clean,director_power,us_distributor_clean,year,us_distributor_final,distributor_power
0,1,2019-01-03,"Old Man & The Gun, The",12,Lusomundo,Fox Searchlight,35,35,63117.0,81323.0,...,144982,NaN,TTL-86352,0,david lowery,0,fox searchlight,2019,fox searchlight,1
1,2,2019-01-03,Holmes And Watson,12,Sony Int'l,Sony,48,48,78753.0,94924.0,...,133113,NaN,TTL-78696,2,etan cohen,0,sony,2019,sony pictures,1
2,3,2019-01-10,Escape Room,14,Sony Int'l,Sony,33,38,124146.0,159564.0,...,147890,NaN,TTL-89040,0,adam robitel,0,sony,2019,sony pictures,1
3,4,2019-01-10,On The Basis Of Sex,12,PRIS,Focus Features,32,32,39645.0,51380.0,...,144666,NaN,TTL-85844,0,mimi leder,0,focus features,2019,focus features,1
4,5,2019-01-10,Vox Lux,14,Lusomundo,Neon Rated,18,18,11830.0,15329.0,...,152232,NaN,TTL-92274,2,brady corbet,0,neon rated,2019,neon rated,0

In [9]:
# Build Portugal holiday calendar for 2019–2024
pt_holidays = holidays.Portugal(years=range(2019, 2025))

In [13]:
pt_holidays.head()

AttributeError: 'Portugal' object has no attribute 'head'

In [15]:
holidays.Portugal(years=range(2019, 2025))

{datetime.date(2019, 1, 1): 'Ano Novo', datetime.date(2019, 4, 19): 'Sexta-feira Santa', datetime.date(2019, 4, 21): 'Páscoa', datetime.date(2019, 6, 20): 'Corpo de Deus', datetime.date(2019, 10, 5): 'Implantação da República', datetime.date(2019, 11, 1): 'Dia de Todos os Santos', datetime.date(2019, 12, 1): 'Restauração da Independência', datetime.date(2019, 4, 25): 'Dia da Liberdade', datetime.date(2019, 5, 1): 'Dia do Trabalhador', datetime.date(2019, 6, 10): 'Dia de Portugal, de Camões e das Comunidades Portuguesas', datetime.date(2019, 8, 15): 'Assunção de Nossa Senhora', datetime.date(2019, 12, 8): 'Imaculada Conceição', datetime.date(2019, 12, 25): 'Dia de Natal', datetime.date(2020, 1, 1): 'Ano Novo', datetime.date(2020, 4, 10): 'Sexta-feira Santa', datetime.date(2020, 4, 12): 'Páscoa', datetime.date(2020, 6, 11): 'Corpo de Deus', datetime.date(2020, 10, 5): 'Implantação da República', datetime.date(2020, 11, 1): 'Dia de Todos os Santos', datetime.date(2020, 12, 1): 'Restauração da Independência', datetime.date(2020, 4, 25): 'Dia da Liberdade', datetime.date(2020, 5, 1): 'Dia do Trabalhador', datetime.date(2020, 6, 10): 'Dia de Portugal, de Camões e das Comunidades Portuguesas', datetime.date(2020, 8, 15): 'Assunção de Nossa Senhora', datetime.date(2020, 12, 8): 'Imaculada Conceição', datetime.date(2020, 12, 25): 'Dia de Natal', datetime.date(2021, 1, 1): 'Ano Novo', datetime.date(2021, 4, 2): 'Sexta-feira Santa', datetime.date(2021, 4, 4): 'Páscoa', datetime.date(2021, 6, 3): 'Corpo de Deus', datetime.date(2021, 10, 5): 'Implantação da República', datetime.date(2021, 11, 1): 'Dia de Todos os Santos', datetime.date(2021, 12, 1): 'Restauração da Independência', datetime.date(2021, 4, 25): 'Dia da Liberdade', datetime.date(2021, 5, 1): 'Dia do Trabalhador', datetime.date(2021, 6, 10): 'Dia de Portugal, de Camões e das Comunidades Portuguesas', datetime.date(2021, 8, 15): 'Assunção de Nossa Senhora', datetime.date(2021, 12, 8): 'Imaculada Conceição', datetime.date(2021, 12, 25): 'Dia de Natal', datetime.date(2022, 1, 1): 'Ano Novo', datetime.date(2022, 4, 15): 'Sexta-feira Santa', datetime.date(2022, 4, 17): 'Páscoa', datetime.date(2022, 6, 16): 'Corpo de Deus', datetime.date(2022, 10, 5): 'Implantação da República', datetime.date(2022, 11, 1): 'Dia de Todos os Santos', datetime.date(2022, 12, 1): 'Restauração da Independência', datetime.date(2022, 4, 25): 'Dia da Liberdade', datetime.date(2022, 5, 1): 'Dia do Trabalhador', datetime.date(2022, 6, 10): 'Dia de Portugal, de Camões e das Comunidades Portuguesas', datetime.date(2022, 8, 15): 'Assunção de Nossa Senhora', datetime.date(2022, 12, 8): 'Imaculada Conceição', datetime.date(2022, 12, 25): 'Dia de Natal', datetime.date(2023, 1, 1): 'Ano Novo', datetime.date(2023, 4, 7): 'Sexta-feira Santa', datetime.date(2023, 4, 9): 'Páscoa', datetime.date(2023, 6, 8): 'Corpo de Deus', datetime.date(2023, 10, 5): 'Implantação da República', datetime.date(2023, 11, 1): 'Dia de Todos os Santos', datetime.date(2023, 12, 1): 'Restauração da Independência', datetime.date(2023, 4, 25): 'Dia da Liberdade', datetime.date(2023, 5, 1): 'Dia do Trabalhador', datetime.date(2023, 6, 10): 'Dia de Portugal, de Camões e das Comunidades Portuguesas', datetime.date(2023, 8, 15): 'Assunção de Nossa Senhora', datetime.date(2023, 12, 8): 'Imaculada Conceição', datetime.date(2023, 12, 25): 'Dia de Natal', datetime.date(2024, 1, 1): 'Ano Novo', datetime.date(2024, 3, 29): 'Sexta-feira Santa', datetime.date(2024, 3, 31): 'Páscoa', datetime.date(2024, 5, 30): 'Corpo de Deus', datetime.date(2024, 10, 5): 'Implantação da República', datetime.date(2024, 11, 1): 'Dia de Todos os Santos', datetime.date(2024, 12, 1): 'Restauração da Independência', datetime.date(2024, 4, 25): 'Dia da Liberdade', datetime.date(2024, 5, 1): 'Dia do Trabalhador', datetime.date(2024, 6, 10): 'Dia de Portugal, de Camões e das Comunidades Portuguesas', datetime.date(2024, 8, 15): 'Assunção de Nossa Senhora', datetime.date(2024, 12, 8): 'Imaculada Conceição', datetime.date(2024, 12, 25): 'Dia de Natal'}

In [17]:
# Define holiday release: Thurs–Sun after release date
def is_holiday_release(date):
    opening_days = [date + pd.Timedelta(days=i) for i in range(4)]
    return int(any(day in pt_holidays for day in opening_days))

movie_metadata['is_holiday_release'] = movie_metadata['release_date'].apply(is_holiday_release)

In [19]:
movie_metadata.is_holiday_release.head()

0    0
1    0
2    0
3    0
4    0
Name: is_holiday_release, dtype: int64

In [21]:
# Export for use in R or merge back into modeling data
movie_metadata.to_csv("metadata_with_holiday_flag.csv", index=False)